/detect_result/
/lib/LicensePlateLocation_C/LicensePlateLocation.dll
/lib/LicensePlateLocation_Java/LicensePlateLocation.jar
/lib/LicensePlateLocation_C/v2/generic_interface/LicensePlateLocation.ctf
/lib/LicensePlateLocation_Java/classes/LicensePlateLocation/LicensePlateLocation.ctf